lib/resources/css/
bower_components
tmp
.DS_Store
lib/webapp/resources/doc_api_resources/*
lib/webapp/documentation/*
lib/nodeserver/controller/*
lib/nodeserver/configs/*
lib/webapp/controller/*
lib/webapp/configs/*
lib/webapp/resources/docular-partials/*
lib/generated/
index.html
node_modules
node_modules/*


/nbproject/private/
